/*Link form*/
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(92, 91, 91, 0.788);
}
/*Button form*/
button {
    background-color: rgb(0, 132, 255);
    cursor: pointer;
    color: white;
    border: none;
    text-align: center;
    padding: 8px 20px;
    font-family: arial,sans-serif;
    font-size: 15px;
    border-radius: 2px;
}
/*Top right corner icons*/ 
#grp1 
    {
    font-size: small;
	min-width: 800px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 60px;
	color: black;
	padding-right: 23px;
    }
    #grp1 .box2 {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.842);
        padding: 0 9px 0px 9px; 
    }
    #grp1 .box3 {
        padding: 0 15px 9px 9px; 
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }


/*Logo*/
.logo {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    transform: scale(130%);
    padding-bottom: 20px;    
}
/*Search bar*/
#SB 
    {
        min-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 15px;   
    }
input /*Search form*/
{
    padding: 12px 0 12px 30px;
    background: url(assets/loupe.jpg) 12px;
    background-repeat: no-repeat;
    font-size: large;
    border: solid 1px lightgrey;
    border-radius: 40px;
    outline: none;
}
/*Under links*/
.ulinks 
    {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        column-gap: 15px;
    }
    .RG /*First icon*/
    {
        display: flex;
        padding: 9px 9px;
        background-color: #f0ebeb86;
    }
    
    .gl /*second icon*/
    {
        display: flex;
        background-color: #f0ebeb86;
        padding: 9px 9px;
    }
/*Footer*/
.foot
{
    width: 99%;
    height: 90px;
    position: absolute;bottom: 0;
    background-color: rgba(161, 159, 159, 0.253)
}
.f1 /*Links group 1*/
{
    display: flex;
    justify-content: flex-start;
    height: 50%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgba(156, 152, 152, 0.233);  
    border-width: 1px;
}
.fr
{
    display: flex;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 23px;
    font-size: 17px;
    color: rgba(100, 98, 98, 0.726);
}
.f2 /*Links group2 absolute*/
{
    position: absolute;
    margin-left: 23px;
    display: flex;
    align-items: center;
    justify-content: row;
    height: 45%;
    border-width: 1px;
    color: rgba(100, 98, 98, 0.726);
    column-gap: 25px;
}
.f3 /*Links group3 absolute*/
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 45%;
    align-items: center;
    column-gap: 25px;
    margin-right: 23px;
}




